body{
    background-image: url(../img/1655748.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    margin: 0 auto;
}

#my_bg-trasparent{
    background: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    margin-top: 70px;
    padding: 20px;
    width: 50%;
}

#my_btn-play{
    padding: 10px 25px;
    font-weight: bold;
}

#errore-difficolta{
    font-size: 1.3rem;
}
